# Server
PORT=4000

# MongoDB (required) - pass your connection string
MONGO_URI=mongodb+srv://vikashdubeytechsolution:1234@cluster0.vcnmhya.mongodb.net/library?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Admin credentials (update these)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
